<div class="row">
  <div class="page-header">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="row">
  <h2>Job Requests</h2>
  <table>
    <% @skill_requests.each do |skill_request| %>
        <tr>
          <td><%= link_to skill_request.title, skill_request_path(skill_request),
                          :id => dom_id(skill_request) %> <br/>
            <%= skill_request.when_to_s %>, <%= skill_request.where %> <br/>
            <%= skill_request.description %>
          </td>
          <td><h5><%= skill_request.state %></h5></td>
          <td> <%= link_to 'delete', skill_request, :method => :delete %></td>
        </tr>
    <% end %>
  </table>
</div>