<header>
  <div class="page-header">
    <h1>Zakázka
      <small>#<%= @skill_request.id %></small>
    </h1>
  </div>
  <ul class="breadcrumb">
    <li><%= link_to 'Můj DůmSnadno.cz', dashboard_path %> <span class="divider">/</span></li>
    <li class="active">Můj požadavek na <%= @skill_request.title %>, <%= @skill_request.when_to_s %></li>
  </ul>
</header>

<style type="text/css">

</style>
<script type="text/javascript">
    $(document).ready(function() {
        $('.company').hover(function() {
            $(this).addClass('well');
        }, function() {
            $(this).removeClass('well');
        })
    })
</script>
<% @num_requests = 4 %>
<section>
  <div class="row">
    <div class="span8">
      <div class="tabbable">
        <ul class="tabs" data-tabs="tabs">
          <li class="active"><%= link_to "Cenové nabídky (#{@num_requests})", '#bids', 'data-toggle' => 'tab' %></li>
          <li><%= link_to 'Veřejný dotaz (0)', '#questions', 'data-toggle' => 'tab' %></li>
        </ul>
        <div class="tab-content" style="background-color: white">
          <div class="tab-pane active" id="bids">
            <% @num_requests.times do |i| %>
                <%= render :partial => 'account/skill_requests/company/bid', :locals => {:i => i} %>
            <% end %>
          </div>
          <div class="tab-pane" id="questions">
            <p>Questions?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="span4 left-column request-detail">
      <div class="">
        <% @num_requests.times do |i| %>
            <%= render :partial => 'account/skill_requests/company/detail', :locals => {:i => i} %>
        <% end %>
        <%= render :partial => 'account/skill_requests/detail' %>
      </div>
    </div>
  </div>
</section>


<%
   overall = Erector.inline do

       def username
           "bob"
       end

       widget ApplicationHelper::Chunks do |w|
           w.help 'for yout' do
               link_to 'test'
               w.form_for_easy do |f|
                 f.text_field :mapa
               end
           end
           widget ApplicationHelper::Chunk, :title => "Chunk 1", :behaviors => 'buttons' do
               p "my crazy chunks example for #{username}"
           end
           widget ApplicationHelper::Chunk, :title => "Chunk 2", :behaviors => 'other_buttons' do
               div do
                   text "and here is another"
                   span "crazy chunk"
               end
           end
       end

   end
%>
<%= overall.to_html %>

<div id="modal-from-dom" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>

    <h3>Přijmout nabídku</h3>
  </div>
  <div class="modal-body">
    <%= form_for :quote, :url => '', :html => {:class => 'form-stacked', :style => 'border:none'} do |quote| %>
        <div class="clearfix">
          <div class="input">
            <%= quote.label :test %>
            <%= quote.text_field :test %>
          </div>
        </div>
        <div class="clearfix">
          <div class="input">
            <%= quote.label :last_name %>
            <%= quote.text_field :last_name %>
          </div>
        </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary">Primary</a>
    <a href="#" class="btn secondary">Secondary</a>
  </div>
</div>