<%= form_for @skill_requirement, :validate => true, :html => {:class => 'form-stacked skill-requirement span10'} do |f| %>
    <fieldset>
      <legend>Poptávkový formulář</legend>

      <ol class="numbered">
        <li class="clearfix">
          <label for="who" class="">Koho
            <small>hledáte na práci?</small>
          </label>


          <div class="input">

            <%= f.select :skill_list, @skill_tags_menu, {:include_blank => true},
                         {:multiple => false, 'data-placeholder' => 'Vyber/Hledej řemeslo', :class => 'remote-chosen span4'} %>

            <script type="text/javascript">
                wiki = {};
            </script>
            <p class="wiki">
              <small>Profese:</small>
              <span class="content">...</span>
            </p>
          </div>
        </li>
        <li class="clearfix">
          <label for="when">Kdy
            <small>chcete začít s prací?</small>
          </label>
          <ul class="inputs-list">
            <li>
              <label class="switch">
                <%= f.radio_button :when_type, 'flexible', :checked => true %>
                <span>Jsem flexibilní během:</span>
              </label>

              <div class="input">
                <%= f.select(:when_flexible,
                             SkillRequirement::WHEN_FLEXIBLE.collect { |v| [v, v] }, {},
                             {:multiple => false, 'data-placeholder' => 'Vyber', :class => 'local-chosen span3',
                              }) %>
              </div>

            </li>
            <li>
              <label class="switch">
                <%= f.radio_button :when_type, 'urgent' %>
                <span>Během několika hodin (spěchám)</span>
              </label>

              <div class="input">
                <p><strong>Note:</strong> Rozeslat firmám, které mohou přijít okamžitě.</p>
              </div>
            </li>
            <li>
              <label class="switch">
                <%= f.radio_button :when_type, 'specific' %>
                <span>Přesně stanovený den:</span>
              </label>

              <div class="input date-time">
                <div class="inline-inputs">
                  <div id="calendar-holder"></div>
                  <%= f.hidden_field :when_1_date %>
                  <select name="" id="calendar" class="local-chosen span3" data-placeholder='Den'></select>
                  <%= f.select(:when_1_hour_from,
                               (6..22).each.inject([]) { |result, v| result << "#{v}:00" << "#{v}:30"; result }, {:include_blank => true},
                               {:multiple => false, 'data-placeholder' => 'Od', :class => 'local-chosen span2'}) %>
                  <%= f.select(:when_1_hour_till,
                               (6..22).each.inject([]) { |result, v| result << "#{v}:00" << "#{v}:30"; result }, {:include_blank => true},
                               {:multiple => false, 'data-placeholder' => 'Do', :class => 'local-chosen span2'}) %>

                  <p><a href="e" class="add-date-time"> + Pridat alternativni cas</a> - (může zvýšit počet nabídek)</p>
                </div>
              </div>

            </li>
          </ul>
        </li>

        <li class="clearfix">
          <label for="who">Kde
            <small>se práce uskuteční? <a href="#" class="offset1" rel="popover" title="Napoveda">Pomoc?</a></small>
          </label>

          <div class="clearfix input">
            <div class="clearfix input-append"><%= f.text_field :where, :placeholder => 'PSČ nebo Město', :class => 'span5' %>
              <span class="add-on">&nbsp;</span>
            </div>
            <span class="help-block">help</span>
          </div>

        </li>

        <li class="clearfix">
          <label class="" for="who">Co
            <small> za práci se musí provést? <a href="3" class="offset3" rel="popover" title="Nápověda">Pomoc?</a>
            </small>
          </label>

          <div class="input">
            <%= f.text_area :description, :rel => 'popover', :title => 'Doporučení', :rows => 3,
                            :placeholder => 'Podrobné zadání práce', :class => 'span8' %>
            <!--<textarea class="span8 help" title="Test" rel="popover" name="textarea" id="textarea" rows="3" placeholder='Popis zadádní pro firmu'></textarea>-->

            <div class="help-content hidden">
              <h6>Obkladač</h6>
              <ol>
                <li>Kolik m2</li>
                <li>Jaká barva</li>
                <li>Materiál</li>
              </ol>
              <h6>Natěrač</h6>
              <ol>
                <li>Kolik m2</li>
                <li>Jaká barva</li>
                <li>Materiál</li>
              </ol>
            </div>
          </div>

        </li>

      </ol>
    </fieldset>
    <div class="actions">
      <%= f.submit 'Odeslat poptávku', :class => 'btn primary offset6' %>
      <!--<input type="submit" value="Odeslat potávku" class="btn primary offset6">&nbsp;-->
    </div>

<% end %>




<!--<form action="#" class="form-stacked skill-request span10">-->
<!--<fieldset>-->
<!--<legend>Poptávkový formulář</legend>-->

<!--<ol class="numbered">-->

<!--<li class="clearfix">-->
<!--<label for="who">Koho-->
<!--<small>hledáte na práci?</small>-->
<!--</label>-->

<!--<div class="input">-->
<!---->
<!--<input class="span5" type="text" placeholder='Zedník'>-->
<!--</div>-->
<!--</li>-->
<!--<li class="clearfix">-->
<!--<label for="when">Kdy-->
<!--<small>chcete začít s prací?</small>-->
<!--</label>-->
<!--<ul class="inputs-list">-->
<!--<li>-->
<!--<label class="switch">-->
<!--<input type="radio" value="option1" name="optionsRadios" checked="true">-->
<!--<span>Jsem flexibilní během:</span>-->
<!--</label>-->
<!--<select class="">-->
<!--<option selected="selected" value="D">několika dnů</option>-->
<!--<option value="W">několika týdnů</option>-->
<!--<option value="A">kdykoliv</option>-->
<!--</select>-->
<!--</li>-->
<!--<li>-->
<!--<label class="switch">-->
<!--<input type="radio" value="option2" name="optionsRadios">-->
<!--<span>Během několika hodin (spěchám)</span>-->
<!--</label>-->

<!--<p style="display: none;"><strong>Note:</strong> Rozeslat firmám, které mohou přijít okamžitě.</p>-->
<!--</li>-->
<!--<li>-->
<!--<label class="switch">-->
<!--<input type="radio" value="option2" name="optionsRadios">-->
<!--<span>Přesně stanovenou dobu:</span>-->
<!--</label>-->

<!--<div class="inline-inputs date-time">-->
<!--<input class="small" type="text" value="May 1, 2011"/>-->
<!--<input class="mini" type="text" value="12:00am"/>-->
<!--</div>-->
<!--<p><a href="e" class="add-date-time"> + Pridat alternativni cas</a> - (může zvýšit počet nabídek)</p>-->

<!--</li>-->
<!--</ul>-->
<!--</li>-->

<!--<li class="clearfix">-->
<!--<label for="who">Kde-->
<!--<small>se práce uskuteční? <a href="#" class="offset1" rel="popover" title="Napoveda">Pomoc?</a></small>-->
<!--</label>-->

<!--<div class="input">-->
<!--<input class="span5" type="text" placeholder='PSČ nebo Město'>-->
<!--</div>-->
<!--</li>-->

<!--<li class="clearfix">-->
<!--<label class="" for="who">Co-->
<!--<small> za práci se musí provést? <a href="3" class="offset3" rel="popover" title="Nápověda">Pomoc?</a>-->
<!--</small>-->
<!--</label>-->

<!--<div class="input">-->
<!--<textarea class="span8 help" title="Test" rel="popover" name="textarea" id="textarea" rows="3" placeholder='Popis zadádní pro firmu'></textarea>-->

<!--<div class="help-content hidden">-->
<!--<h6>Obkladač</h6>-->
<!--<ol>-->
<!--<li>Kolik m2</li>-->
<!--<li>Jaká barva</li>-->
<!--<li>Materiál</li>-->
<!--</ol>-->
<!--<h6>Natěrač</h6>-->
<!--<ol>-->
<!--<li>Kolik m2</li>-->
<!--<li>Jaká barva</li>-->
<!--<li>Materiál</li>-->
<!--</ol>-->
<!--</div>-->
<!--</div>-->

<!--</li>-->

<!--</ol>-->

<!--</fieldset>-->
<!--<div class="actions">-->
<!--<input type="submit" value="Odeslat potávku" class="btn primary offset6">&nbsp;-->
<!--</div>-->
<!--</form>-->