<%= render :partial => 'steps', :locals => {:step => 2} %>

<div class="row">
  <%= render :partial => 'account/skill_requests/preview', :locals => {:skill_requirement => @skill_requirement} %>
</div>
<div class="row">
  <%# unless current_user %>
  <%#= render :template => 'user_sessions/new' %>

  <%# end %>
</div>

<div class="row">
  <div class="span8">
    <% if logged_in? %>
        <%= form_for SkillRequest.new(:skill_requirement_id => @skill_requirement.public_id) do |f| %>
            <%= f.hidden_field :skill_requirement_id %>
            <div class="actions">
              <%= f.submit :class => 'btn large primary', :value => 'Odeslat žádost' %>
              <%= link_to 'zrusit', '#', :class => '' %>
            </div>
        <% end %>
    <% else %>
        <div id="new_skill_request">
          <%= link_to 'Odeslat žádost', new_skill_request_path(:public => @skill_requirement.public_id),
                      :class => 'btn large primary' %>
        </div>
    <% end %>
  </div>
</div>