<%= Erector::Widgets::EnvironmentBadge.new.to_html %>
<div class="top-header">
  <%= content_tag :div, :class => 'learning-more' do -%>
      <div class="inner">
        <div class="container">
          <p><span class="icon">?</span> <strong>Co nabízí DůmSnadno.cz?</strong>
            Pomáháme pečovat majitelům nemovitostí o svůj milující domov.
            <a href="3">Zjisti více!</a>
          </p>
        </div>
      </div>
  <% end unless logged_in? -%>
  <div class="topbar-inner">
    <div class="container">
      <%= link_to "DůmSnadno", home_path, :class => 'brand' %>
      <ul class="nav span8">
        <%= content_tag :li, :class => ('active' if current_page?(root_url(:anchor => 'skills'))) do -%>
            <%= link_to root_url(:anchor => 'skills') do -%>
                <strong>Podívej se</strong>
                <span>co se tu děje</span>
            <% end %>
        <% end %>
        <%= content_tag :li, :class => ('active' if current_page?(new_skill_requirement_path)
        #current_page?(:controller => 'skill_requirements', :action => 'edit') ||
        #current_page?(:controller => 'skill_requirements', :action => 'show')
        ) do -%>
            <%= link_to(new_skill_requirement_path) do -%>
                <strong>Začni s prací</strong>
                <span>na svém domě</span>
            <% end %>
        <% end %>

        <% if logged_in? %>
            <%= content_tag :li, :class => ('active' if current_page?(profiles_path)) do -%>
                <%= link_to(profiles_path) do -%>
                    <% if current_account.profiles.count == 0 %>
                        <strong>Máte firmu?</strong>
                        <span>vytvořte si profil</span>
                    <% else %>
                        <strong>Pracovní profil</strong>
                        <span>udržba a správa</span>
                    <% end %>
                <% end %>
            <% end %>
        <% else %>
            <%= content_tag :li, :class => ('active' if current_page?(profiles_path)) do -%>
                <%= link_to(profiles_path) do -%>
                    <strong>Máte firmu?</strong>
                    <span>pomozte ostatním</span>
                <% end %>
            <% end %>
        <% end %>

      </ul>

      <ul class="nav sub">
        <%= content_tag :li, :class => ('active' if current_page?(login_path)) do -%>
            <span><%= link_to('Poradna', login_path()) %></span>
        <% end %>
        <%= content_tag :li, :class => ('active' if current_page?(new_user_path)) do -%>
            <span>
              <%= link_to('Registrace', new_user_path(:anchor => 'registration-form'), :id => 'register') unless current_user %>
            </span>
        <% end %>
        <%= content_tag :li do -%>
            <% if current_user -%>
                <%= link_to(logout_path, :id => 'account') do %>
                    <span>Odhlásit se </span>
                    <strong><%= current_user.email %></strong>
                    <%= image_tag(@me, :height => 28, :alt => '', :style => 'margin-left:2px; float:right; bottom:31px; left:34px;position:relative;') %>

                <% end %>
            <% else %>
                <span><%= link_to('Můj účet', login_path(:anchor => 'new_user_session'), :id => 'account') unless current_user %></span>
            <% end %>

        <% end %>
      </ul>
    </div>
  </div>
</div>