<h2>Your profiles</h2>
<div class="row">
  <div class="">
    <%= form_for :account_profile, :url => profiles_path do |f| %>
        <div class="clearfix">
          <%= f.label :name, 'Vytvořit nový profil' %>
          <div class="input">
            <%= f.text_field :company_name, :placeholder => 'Začni psát např zedník', :class => 'span7' %>
            <%= f.submit 'Pokračuj', :class => 'btn primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
<table>
  <caption style="text-align: left;">Seznam vašich profilů</caption>
  <thead>
  <tr>
    <th>Název profilu</th>
    <th>Počet zobrazení</th>
    <th>Počet zakázek</th>
    <th>Počet vyhraných</th>
    <th>Obrat</th>
  </tr>
  </thead>
  <% @profiles.each do |profile| %>
      <tr>
        <td>      <%= link_to profile.company_name.capitalize, profile_path(profile) %></td>
        <td><%= rand(30) %></td>
        <td><%= rand(20) %></td>
        <td><%= rand(10) %></td>
        <td><%= rand(10000) %> Kč</td>
      </tr>
  <% end %>
</table></div>
