<div class="row">
  <h3>Your profile: <%= @profile.name %></h3>
</div>
<div class="row">
  <p>Níže je zobrazen Váš profil tak jak ho vidí zákazníci, kteří příjdou na DumSnadno.cz. Firmy s lépe vyplněným
    profilem
    většinu času vyhávají více zakázek.</p>
</div>

<div class="row">
  <div class="span12">
    <style type="text/css">
        table.profile-strength {
            width: 684px;
            border: none;
        }

        table.profile-strength td {
            border: none;
            text-align: center;
            padding: 0;
        }

        table.profile-strength .p100 {
            text-align: right;
        }

        table.profile-strength .p0 {
            text-align: left;
        }

        table.profile-strength .img-header {
            text-align: right;
            padding: 0;
        }

        table.profile-strength .desc td {
            padding-top: 6px;
        }

        .progress-bar {
            background: no-repeat url(<%= image_path('progress-bar.jpg') %>);
            width: 0;
            height: 30px;
            border: 1px solid white;
        }

        .bar-wrap {
            border: 1px solid #cccccc;
            padding: 1px;
            background-color: #F3F3F3;
        }
    </style>
    <%= render :partial => 'strength_bar' %>
    <%= render :partial => 'form_inplace' %>
    <%#= render :partial => 'form_more' %>
    <%#= render_widget 'cities-panel', :display %>

  </div>



  <div class="span4 side">
    <h3>nav</h3>
    <%= link_to "Pracovní okruh", url_for_event(:modal, :source => 'cities-panel', :profile_id => @profile.id),
                :remote => true, 'data-url' => '', :class => '' %>
  </div>
</div>

<%= modal_window(:id => 'my-modal') do |t| %>
    <% t.body do %>
        <% t.h1 'test' %>
        <% t.text! link_to 'me', root_path %>
        <% t.form_for :me do |form| %>
            <% form.text_field :name %>
        <% end %>
    <% end %>

    <% t.buttons do %>
        <% t.link_to 'Cont', '', :class => 'btn ' %>

    <% end %>

<% end %>



<script type="text/javascript">
    $('a.remote.popup').click(function(evt) {
        evt.stopPropagation();
        var url = $(this).data('url');
        $.ajax({
            url: url,
          /*  success: function(data) {
                update_modal(data)
            },*/
            success: function(data, textStatus, jqXHR) {
                update_modal(jqXHR.responseText);
//                jQuery(selecteur).html(jqXHR.responseText);
                var reponse = jQuery(jqXHR.responseText);
                var reponseScript = reponse.filter("script");
                jQuery.each(reponseScript, function(idx, val) {
                    eval(val.text);
                });
            },
            dataType: 'html'
        })

//        $.get(url, function(data) { update_modal(data); });

        /* $('#my-modal .modal-body .wrap').load(url, function() {
         var modal_win = $('#my-modal');
         modal_win.modal({
         backdrop: true,
         show: true
         });
         });*/


    })

    function update_modal(data) {
        var modal_win = $('#my-modal');
        modal_win.find('.modal-body .wrap').html(data);
        modal_win.modal({
            backdrop: true,
            show: true
        });
    }
</script>

<%#= ApplicationHelper::ModalBox.new(:id => 'my-modal') do |t|
    t.body do
        t.h1 'test'
    end

    t.buttons { t.text! link_to 'test' }
end.to_html
%>




