<div class="row">
  <div class="span12">
    <%= render :partial => 'header' %>
    <%= render :partial => 'strength_bar' %>
    <%= render :partial => 'form_inplace' %>
    <%#= render :partial => 'form_more' %>
    <hr>
    <%= render_widget('cities-panel', :iframe) %>
  </div>
  <div class="span4 side">
    <%= render :partial => 'sidebar' %>
  </div>
</div>

<%= modal_window(:id => 'modal-box') do |t| %>
    <% t.body do %>
        <% t.h1 'test' %>
        <% t.text! link_to 'me', root_path %>
        <% t.form_for :me do |form| %>
            <% form.text_field :name %>
        <% end %>
    <% end %>

    <% t.buttons do %>
        <% t.link_to 'Cont', '', :class => 'btn ' %>

    <% end %>

<% end %>



<script type="text/javascript">
    $('a.remote.popup').click(function(evt) {
        evt.stopPropagation();
        var url = $(this).data('url');
        $.ajax({
            url: url,
            /*  success: function(data) {
             update_modal(data)
             },*/
            success: function(data, textStatus, jqXHR) {
                update_modal(jqXHR.responseText);
//                jQuery(selecteur).html(jqXHR.responseText);
                var reponse = jQuery(jqXHR.responseText);
                var reponseScript = reponse.filter("script");
                jQuery.each(reponseScript, function(idx, val) {
                    eval(val.text);
                });
            },
            dataType: 'html'
        })

//        $.get(url, function(data) { update_modal(data); });

        /* $('#my-modal .modal-body .wrap').load(url, function() {
         var modal_win = $('#my-modal');
         modal_win.modal({
         backdrop: true,
         show: true
         });
         });*/


    })

    function update_modal(data) {
        var modal_win = $('#my-modal');
        modal_win.find('.modal-body .wrap').html(data);
        modal_win.modal({
            backdrop: true,
            show: true
        });
    }
</script>

<%#= ApplicationHelper::ModalBox.new(:id => 'my-modal') do |t|
    t.body do
        t.h1 'test'
    end

    t.buttons { t.text! link_to 'test' }
end.to_html
%>




