<div class="row">
  <div class="span12">
    <%= render :partial => 'header' %>
    <%= render :partial => 'strength_bar' %>
    <%= render :partial => 'form_inplace' %>
    <%#= render :partial => 'form_more' %>
    <hr>
    <h4>Okruh práce</h4>
    <%#= render_widget('cities-panel', :iframe) %>
    <hr>
    <%= render :partial => 'attachments' %>
  </div>
  <div class="span4 side">
    <%= render :partial => 'sidebar' %>
  </div>
</div>





