<%= yield :head %>
<% @map_content = gmaps({"markers" => {"data" => mark},
                         "circles" => {"data" => circle, "options" => {"strokeColor" => '#333333'}},
                         "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false,
                                           "panControl" => false, "scrollwheel" => false,
                                           "zoomControl" => false, "scaleControl" => false,
                                           "draggable" => false,
                                           "maxZoom" => 11, "zoom" => 8, "mapTypeControl" => false,
                                           "panControl" => false,
                                           "rotateControl" => false, "streetViewControl" => false}

                        }, enable_css = true, enable_js = true) %>

<style type="text/css">
    #range-map, .gmaps4rails_map, .map_container {
        width: 300px;
    }
    .map_content {margin-top: 5px;}
        #slider-range-max {margin-top: 5px;}
</style>

<%= widget_div :class => 'span5' do %>
    <%= %>
    <div class="clearfix" id="range-map">
      <div>
        <span>Přijímám zakázky v okruhu:</span>
        <span id="radius" style="border:0; color:#f6931f; font-weight:bold;"></span>
      </div>
      <div id="slider-range-max"></div>
      <div class="map_content">
        <%= @map_content %>
      </div>
    </div>
<% end %>

<%= yield :scripts %>



<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        window.ProfileMap = {}

        /* ProfileMap.update_cities = function(radius) {
         $.get("
        <%= url_for_event(:list_update, :source => 'cities-panel') %>", { radius: radius }, function(data) {
         $('#show-cities').append('updated:' + radius);
         })
         }*/


        ProfileMap.update = function(data) {
            if (typeof(data) != 'object') var data = $.parseJSON(data);
            var url = '<%= url_for_event(:display, :source => 'cities-panel') %>';
            url += '&' + $.param({ radius: data.radius, address: data.full_address, content_type: 'html' });
            var frame = $(parent.window.document.getElementById('profile-map'));
            frame.attr('src', url);
        }

        // Google radius map.
        Gmaps.map.callback = function() {
            Gmaps.map.circles[0].serviceObject.radius_changed = function() {
                var radius = Gmaps.map.circles[0].serviceObject.getRadius();
                //update_cities(radius);
                var kilometers = radius / 1000;
                save_radius(kilometers);
            }

        }

        // radius slider

        function save_radius(radius) {
            $.ajax({ type: "POST",
                        url: '/account/profiles/<%= profile_id %>',
                        data: { _method:'PUT', 'account_profile': {radius: radius}, id:4, authenticity_token: '<%= form_authenticity_token %>' },
                        dataType:'json',
                        success:function(data) {
                            ProfileMap.update(data);
                        }
                    }

            );
        }

        $("#slider-range-max").slider({
            range: "max",
            value: '<%= radius%>',
            min: 20,
            max: 100,
            step: 5,
            slide: function(event, ui) {
                $("#radius").text(ui.value + " Km");
            },
            stop: function(event, ui) {
                var meters = ui.value * 1000
                Gmaps.map.circles[0].serviceObject.setRadius(meters);
            }
        });
        $("#radius").text($("#slider-range-max").slider("value") + ' Km');

    })
</script>
