<%= yield :head %>

<% @map_content = gmaps({"markers" => {"data" => mark},
                         "circles" => {"data" => circle, "options" => {"strokeColor" => '#333333'}},
                         "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false,
                                           "zoom" => 8, "panControl" => false, "scrollwheel" => false,
                                           "zoomControl" => false, "scaleControl" => false, "max_zoom" => 10,
                                           "maxZoom" => 9, "mapTypeControl" => false, "panControl" => false,
                                           "rotateControl" => false, "streetViewControl" => false}

                        }, enable_css = true, enable_js = true) %>

<style type="text/css">
    #range-map, .gmaps4rails_map, .map_container {
        width: 300px;
    }
</style>

<%= widget_div :class => 'span5' do %>
    <%= %>
    <div class="clearfix" id="range-map">
      <span>Přijímám práce v okruhu:</span>
      <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;"/>

      <div id="slider-range-max"></div>
      <%= @map_content %>
    </div>
<% end %>

<%= yield :scripts %>



<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
//        Gmaps.loadMaps();
        
        function update_cities(range) {
            $.get('<%= url_for_event(:list_update, :source => 'cities-panel') %>', { range: range }, function(data) {
                $('#show-cities').append('updated:' + range);
            })
        }

        // Google radius map.
        Gmaps.map.callback = function() {
            Gmaps.map.circles[0].serviceObject.radius_changed = function() {
                var range = Gmaps.map.circles[0].serviceObject.getRadius();
                update_cities(range);
                console.log('radius changed');
            }
            
        }

        // radius slider

        $("#slider-range-max").slider({
            range: "max",
            value: 40,
            min: 40,
            max: 200,
            slide: function(event, ui) {
                $("#amount").val("Km " + ui.value);
            },
            stop: function(event, ui) {
                var meters = ui.value * 1000
                Gmaps.map.circles[0].serviceObject.setRadius(meters);
            }

        });
        $("#amount").val("Km " + $("#slider-range-max").slider("value"));

    })
</script>
