<h1>Listing homes</h1>

<table id="homes-id">
  <tr>
    <th>id</th>
    <th>nic</th>
    <th>nic</th>
  </tr>

  <% @homes.each do |home| %>
      <tr>
        <td><%= home.id %> </td>
        <td><%= home.created_at %></td>
        <td>xx</td>
      </tr>
      <tr>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>



<br/>

<%= link_to 'New Home', new_home_path %>
