<!DOCTYPE html>
<html>
<head>
  <title>DumsnadnoTest</title>
  <%= stylesheet_link_tag "application" %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for :stylesheet_head %>
</head>
<body class="<%= params[:controller]+'-'+params[:action] %>">

<div class="topbar" data-scrollspy="scrollspy">
  <div class="learning-more">
    <div class="inner">
      <div class="container">
        <p><span class="icon">?</span> <strong>Co nabízí DůmSnadno.cz?</strong>
          Pomáháme pečovat majitelům nemovitostí o svůj milující domov.
          <a href="3">Zjisti více!</a>
        </p>
      </div>
    </div>
  </div>
  <div class="topbar-inner">
    <div class="container">
      <%= link_to "DůmSnadno", root_path, :class => 'brand' %>
      <ul class="nav span8">
        <%= content_tag :li, :class => ('active' if current_page?(root_url(:anchor => 'skills'))) do -%>
            <%= link_to root_url(:anchor => 'skills') do -%>
                <strong>Podívej se</strong>
                <span>co se tu děje</span>
            <% end %>
        <% end %>
        <%= content_tag :li, :class => ('active' if current_page?(new_skill_requirement_path)) do -%>
            <%= link_to(new_skill_requirement_path) do -%>
                <strong>Začni s prací</strong>
                <span>na svém domě</span>
            <% end %>
        <% end %>

        <%= content_tag :li, :class => ('active' if current_page?(login_path)) do -%>
            <%= link_to(login_path) do -%>
                <strong>Máte firmu?</strong>
                <span>pomozte ostatním</span>
            <% end %>
        <% end %>

      </ul>

      <ul class="nav sub">
        <%= content_tag :li, :class => ('active' if current_page?(login_path)) do -%>
            <%= link_to('Poradna', login_path) %>
        <% end %>
        <%= content_tag :li, :class => ('active' if current_page?(new_user_path)) do -%>
            <%= link_to('Registrace', new_user_path, :id => 'register') unless current_user %>
        <% end %>
        <%= content_tag :li do -%>
            <%= link_to('Můj účet', login_path, :id => 'account') unless current_user %>
            <%= link_to("#{current_user.email} odhlásit se", logout_path, :id => 'account') if current_user %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= content_for :featured %>
<div class="container" style="min-height: 1200px;">
  <%= message(:alert, alert) %>
  <%= message(:success, flash[:success]) %>
  <%= message(:error, flash[:error]) %>
  <%= message(:info, notice) %>

  <%= yield %>
</div>
</body>
</html>
