<!DOCTYPE html>
<html>
<head>
  <title>DumsnadnoTest</title>
  <%= stylesheet_link_tag "application" %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for :stylesheet_head %>
</head>
<body class="<%= params[:controller]+'-'+params[:action] %>">

<%= render :partial => 'shared/header' %>
<div class="container">

  <%= message(:alert, alert) %>
  <%= message(:success, flash[:success]) %>
  <%= message(:error, flash[:error]) %>
  <%= message(:info, notice) %>

</div>
<%= content_for :featured %>
<div class="container">
  <%= yield %>
</div>
<%= render :partial => 'shared/footer' %>
</body>
</html>
